.page-container {
  display: grid;
  place-items: center; 
  height: 100vh;
}

.register-form, .login-form {
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
  max-width: 400px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 24px;
  background: #fff;
}

.register-form label, .login-form label{
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
}

.register-form .input, .login-form .input {
  margin-top: 6px;
  margin-bottom: 18px;
}
